<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Velocity</title>
</head>
<body>
   JSON中数据输出：$name
   <ul>
   #foreach ( $devi in $devices )
   <li>${devi}</li>
   #end
   </ul>
</body>
</html>
